header,
header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div {
    gap: 2rem;
}

header > div > div {
    display: flex;
    align-items: baseline;
    gap: 0.25rem;
}

header > div > img {
    padding: 0.375rem 0.469rem;
    background-color: #F0F9FF;
}

header > div > span.full-name {
    font-size: 17px;
    line-height: 170%;
}

header > div > div > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #666666;
}

header > div > div > span.count {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    color: #00118F
}

header {
   padding: 1.125rem 1rem 1.125rem 2rem;
}

header > img {
    display: block;
    width: 8.5rem;
    height: 2rem;
}
