@import "tailwindcss";

@font-face {
  font-family: 'DefaultFont';
  src: url('./assets/fonts/NotoSansJP-Regular.ttf') format('truetype');
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  font-family: 'DefaultFont', sans-serif;
}
